
body{
    font-family: 'Manrope', Arial, sans-serif;
    padding-top: 100px;

}
.open-form{
    /*position: relative;*/
    position: relative;
    left: calc(100% - 200px);
    z-index: 1;
    /*margin-top: 100px;*/
    height: 50px;
    width: 150px;
    text-align: center;
    background-color: #282828;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}
.open-form:hover{
    cursor: pointer;
}

.container-for-form{
    position: fixed;
    top:0;
    display: none;
    width: 100vw;
    height: 100vh;
    justify-content: space-evenly;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
    overflow: scroll;
}
.form-for-add-review{
    width: 500px;
    background-color: white;
    position: absolute;
    top: 55px;
    padding: 70px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.cancel{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 4px;
    background-color: white;
    opacity: 0.7;
    transform: rotate(-45deg);
    transform-origin: right;
}
.cancel:before{
    content: "";
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 4px;
    background-color: white;
    transform: rotate(90deg);
    transform-origin: right;
}

.cancel img{
    height: 100%;
    width: 100%;
}
.form-for-add-review>div{
    display: flex;
    flex-direction: column;
    margin-bottom: 13px;
}
.div-input-text textarea{
    height: 100px;
    resize: none;
    padding: 7px;
}
.form-for-add-review h3{
    margin-top: 0;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 40px;

}
.form-for-add-review input[type="text"], textarea{
    height: 46px;
    font-size: 17px;
    font-family: 'Manrope',Arial,sans-serif;
    border-color: black;
    border-style: solid;
    border-width: 1.5px;

    /*color: #282828;*/
    /*opacity: 0.8;*/
    font-weight: lighter;
    padding-left: 10px;
    padding-right: 10px;

}
.div-input-text label, .div-input-file label, .div-select label{
    font-size: 19px;
    margin-bottom: 5px;
    margin-left: 2px;
}
.button-for-send-form{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    color: white;
    background-color: #141414;
    border-style: none;
    font-size: 19px;
    font-weight: bolder;
    opacity: 0.8;
    border-radius: 10px;
}
.button-for-send-form:hover{
    /*background-color: black;*/

    opacity: 1;
    cursor: pointer;
}
.div-select select{
    width: 100%;
    height: 46px;
    font-size: 17px;
    border-color: black;
    border-style: solid;
    border-width: 1.5px;
    /*color: #282828;*/
    /*opacity: 0.8;*/
    /*font-weight: lighter;*/
    padding-left: 10px;
    appearance: none;
}

.select-box{
    position: relative;
}
.select-box:after{
    content: "";
    position: absolute;
    right: 10px;
    top:50%;
    margin-top: -4px;
    border-top: 8px solid #ccc;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    pointer-events: none;

}


.container-for-reviews{
    width: 100%;
    /*height: 100px;*/
    display: flex;
    justify-content: space-evenly;
}
.reviews{
    width: 65%;
    display: block;
    /*height: 300px;*/
}
.reviews>div{
    width: calc(60% - 60px);
    /*height: 100%;*/
    margin-bottom: 30px;
    border-radius: 30px;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    padding: 30px;
    padding-bottom: 20px;
}
.review-right{
    margin-left: 40%;
    background-color: whitesmoke;
}
.review-left{
    background-color: white;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.top-part-div{
    display: flex;
    justify-content: space-between;
}
.top-part-div .name{
    font-size: 19px;

}
.stars{
    margin-top: 5px;
    height: 17px;
    /*margin-left: -3px;*/
}
.stars svg{
    width: 17px;
}
.line{
    width: calc(100% + 60px);
    margin-left: -30px;
    height: 1px;
    background-color: darkgrey;
    margin-top: 15px;

}
.top-part-div .date{
    color: rgba(0,26,52,.6);
}
.text{
    margin-top: 10px;
}
.text p{
    font-size: 17px;
    text-align: justify;
    color: #141414;

}
.img{
    overflow: hidden;
    width: 100%;
    /*display: flex;*/
    position: relative;
    /*padding-left: -100%;*/
}
.imgs{
    display: flex;
    width: 100%;
    /*flex-wrap: wrap;*/
    position: relative;
    /*left: -100%;*/
}

.img img{
    border-radius: 3px;
    width: 100%;
    /*margin-left: 10%;*/
}
.left-arrow, .right-arrow{
    position: absolute;
    top: 47.5%;
    /*left: 2%;*/
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50%;
    z-index: 1;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
.left-arrow{
    left: 2%;
    display: none;
}
.right-arrow{
    right: 2%;
}
.left-arrow:hover,.right-arrow:hover{
    cursor: pointer;
}
.left-arrow svg, .right-arrow svg{
    margin-top: 25%;
    margin-left: 25%;
    width: 50%;
    height: 50%;
    opacity: 0.7;
}
.left-arrow svg{
    transform: rotate(180deg);
}
.buttons{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}
.buttons form{
    width: 45%;
    height: 40px;
}
form button{
    width: 100%;
    height: 100%;
    background-color: white;
    border-style: solid;
    border-color: #141414;
    border-width: 1.5px;
    font-size: 21px;
    font-family: 'Manrope', Arial, sans-serif;
    transition-duration: 0.3s;
}
form button:hover{
    cursor: pointer;
    border-color: whitesmoke;
}
.right-arrow{
    display:block;
}

@media(max-width: 950px){
    .reviews{
        width: 80%;
    /*height: 300px;*/
    }
    .container-for-reviews{
        margin-top: 30px;
    }
    .reviews>div{
        width: calc(70% - 50px);
        /*height: 100%;*/
        padding: 25px;
        padding-bottom: 20px;
    }
    .line{
        width: calc(100% + 50px);
    }
    .review-right{
        margin-left: 30%;
    }

}


@media(max-width: 700px){
    .reviews{
        width: 80%;
    /*height: 300px;*/
    }
    .container-for-reviews{
        margin-top: 30px;
    }
    .reviews>div{
        width: calc(80% - 50px);
        /*height: 100%;*/
        padding: 25px;
        padding-bottom: 20px;
    }
    .line{
        width: calc(100% + 50px);
    }
    .review-right{
        margin-left: 20%;
    }
    .form-for-add-review{
        width: calc(100% - 200px);
        top: 70px;
        padding: 50px;
    }


}
@media(max-width: 550px){
    .reviews{
    width: 90%;
    /*height: 300px;*/
    }
    .container-for-reviews{
        margin-top: 10px;
    }
    .reviews>div{
        width: calc(90% - 50px);
        /*height: 100%;*/
        padding: 25px;
        padding-bottom: 20px;
    }
    .line{
        width: calc(100% + 50px);
    }
    .review-right{
        margin-left: 10%;
    }
    .form-for-add-review{
        width: calc(100% - 100px);
        top: 70px;
        padding: 30px;
    }

}